# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
fordestinationvir/
Give_eye-destination/fordestinationvir/
venv/
.venv/
env/
.env/
ENV/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Node
node_modules/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Model files
*.pt

# YOLO files
PROJECT25/object detection/yolov3.weights
PROJECT25/object detection/yolov3.cfg
espcamera/object detection/yolov3.weights
espcamera/object detection/yolov3.cfg